    .mapContainer {
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 4vh;
        border: 2px solid black;
        height: 90vh;
    }
    .mainContainer{
      height: fit-content;
    }
    #mapId {
        height: 100%;
    }
    .coordinates {
      position: absolute;
      right: 0px;
      bottom: 24px;
      z-index: 1050;
      font-size: 12px;
      margin: 0;
      padding: 2px 6px;
      background: rgba($color: #fff, $alpha: .3);
      color: #000000;
    
      @media (min-width:768px) {
        bottom: 18px;
      }
    }
    .coordinates2 {
      position: absolute;
      left: 0;
      bottom: 24px;
      z-index: 1050;
      font-size: 12px;
      margin: 0;
      padding: 2px 6px;
      background: rgba($color: #fff, $alpha: .3);
      color: #000000;
    
      @media (min-width:768px) {
        bottom: 18px;
      }
    }